<footer class="site-footer">
    <section class="sub-footer">
        <p class="sub-footer-left"><a class="subscribe" href="{{@blog.url}}/rss/">Subscribe<i class="fa fa-rss"></i></a></p>
        <p class="sub-footer-right">Published with <a href="https://ghost.org">Ghost</a></p>
    </section>
</footer>