<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">Newer Posts<i class="fa fa-chevron-right"></i></a>
    {{/if}}
    {{#if next}}
    <a class="older-posts" href="{{page_url next}}"><i class="fa fa-chevron-left"></i>Older Posts</a>
    {{/if}}
</nav>