// font family

$main-font: 'Lora', serif;
$headers-font: 'Source Sans Pro', sans-serif;

// colors
// you can also change standard Foundation colors

$color-main-dark: #000;
$color-main-light: #ffffff;
$color-main-contrast: #1071BC;

$body-border-width: rem-calc(15);

// Foundation overwrites
//
// You can do this in the _foundation-settings.scss file
// just uncomment and edit some parts
// or you can copy it here like the ones below

$primary-color: $color-main-contrast;

$row-width: rem-calc(800);

$body-font-family: $main-font;

$header-font-family: $headers-font;
$header-font-weight: 600;
$header-font-color: $color-main-dark;

$paragraph-font-size: 1.125rem;
$paragraph-line-height: 1.7;

$anchor-text-decoration: underline;

$h1-font-size: rem-calc(64);
$h2-font-size: rem-calc(40);
$h3-font-size: rem-calc(32);
$h4-font-size: rem-calc(23);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;

$link-color: $color-main-contrast;
$header-color: $color-main-dark;


// custom theme mixins
// example:
// clearfix usage:
//  .some-div {
//      ...
//      @extend %clearfix;
//  }

%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// @mixin fancy-underline() {
//     color: $color-main-dark;
//     position: relative;
//     text-decoration: none;
//     &:hover {
//         color: darken($color-main-contrast, 10%);
//         text-decoration: none !important;
//     }
//     &:before {
//         content: "";
//         position: absolute;
//         width: 100%;
//         height: 2px;
//         bottom: 0;
//         left: 0;
//         background-color: darken($color-main-contrast, 10%);
//         visibility: hidden;
//         -webkit-transform: scaleX(0);
//         transform: scaleX(0);
//         -webkit-transition: all 0.3s ease-in-out 0s;
//         transition: all 0.3s ease-in-out 0s;
//     }
//     &:hover:before {
//         visibility: visible;
//         -webkit-transform: scaleX(1);
//         transform: scaleX(1);
//     }
// }