@import "normalize";
@import "foundation-settings";
@import "theme-settings";

// Make sure the charset is set appropriately
@charset "UTF-8";

// Behold, here are all the Foundation components.
// You can choose only needed ones
// grid is mandatory

// @import "foundation/variables";
@import "foundation/components/grid";
@import "foundation/components/global";
@import "foundation/components/accordion";
@import "foundation/components/alert-boxes";
@import "foundation/components/block-grid";
@import "foundation/components/breadcrumbs";
@import "foundation/components/button-groups";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
@import "foundation/components/dropdown";
@import "foundation/components/dropdown-buttons";
@import "foundation/components/flex-video";
@import "foundation/components/forms";
@import "foundation/components/icon-bar";
@import "foundation/components/inline-lists";
@import "foundation/components/joyride";
@import "foundation/components/keystrokes";
@import "foundation/components/labels";
@import "foundation/components/magellan";
@import "foundation/components/orbit";
@import "foundation/components/pagination";
@import "foundation/components/panels";
@import "foundation/components/pricing-tables";
@import "foundation/components/progress-bars";
@import "foundation/components/range-slider";
@import "foundation/components/reveal";
@import "foundation/components/side-nav";
@import "foundation/components/split-buttons";
@import "foundation/components/sub-nav";
@import "foundation/components/switches";
@import "foundation/components/tables";
@import "foundation/components/tabs";
@import "foundation/components/thumbs";
@import "foundation/components/tooltips";
@import "foundation/components/top-bar";
@import "foundation/components/type";
@import "foundation/components/offcanvas";
@import "foundation/components/visibility";

//
// Your styles here
//

html {
    height: 100%;
    overflow-x: hidden;
}
body {
    position: relative;
    padding: rem-calc(15) rem-calc(15) 0;
    height: 100%;
}
.page-wrapper {
    min-height: 100%;
    margin-bottom: rem-calc(-50);
    &:after {
        content: "";
        display: block;
        height: rem-calc(50);
    }
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: darken($color-main-contrast, 10%);
    }
}

blockquote {
    border-left: 2px solid lighten($color-main-contrast, 50%);
}

// h1 a, h2 a {
//     &:hover {
//         transition: transform 0.2;
//         transform: scale(1.25);
//     }
// }


::-webkit-scrollbar {
    width: rem-calc(3);
    background-color: darken($color-main-light, 5%);
}
::-webkit-scrollbar-track {
    background-color: darken($color-main-light, 5%);
}
::-webkit-scrollbar-thumb {
    background-color: $color-main-contrast;
}

.top-bar {
    height: rem-calc(51);
}

.top-bar, .top-bar.expanded {
    font-family: $headers-font;
    color: $header-font-color;
    li {
        a {
            text-decoration: none;
            text-align: center;
            &:hover {
                color: darken($color-main-contrast, 10%);
                text-decoration: underline;
            }
        }

    }

    .blog-logo {
        img {
            height: 35px;
            padding-right: rem-calc(5);
        }
        a {
            display: inline-block;
            height: rem-calc(40);
            font-size: rem-calc(17);
            font-weight: $font-weight-bold;
            color: inherit;
        }
    }

    .navigation {
        // border-color: $color-main-dark;
        a {
            text-transform: uppercase;
            font-size: rem-calc(17);
        }
        &:hover {
            border-color: darken($color-main-contrast, 10%);
            transition: border-color 0.3s, text-decoration 0.3s;
            a {
                text-decoration: underline;
                color: darken($color-main-contrast, 10%);
            }
        }
    }

    .name {
        text-transform: uppercase;
        margin-top: rem-calc(6);
    }
}

.menu {
    // border: rem-calc(2) solid $color-main-dark;
    border: rem-calc(2) solid darken($color-main-light, 10%);
    transition: border-color 0.3s;
    border-radius: rem-calc(3);
    .fa-bars {
        margin-left: rem-calc(5);
        transform: scale(1);
        transition: transform 0.3s;
    }
    &:hover {
        // border-color: darken($color-main-contrast, 10%);
        .fa-bars {
            transition: transform 0.3s;
            transform: scaleY(1.25);
        }
    }
}
.nav-items {
    margin: rem-calc(0) rem-calc(2.5);
    border: rem-calc(2) solid darken($color-main-light, 10%);
    transition: border-color 0.3s;
    border-radius: rem-calc(3);
    @media only screen and (max-width:40.063em) {
        margin: rem-calc(5) 0px;
        &:first-of-type {
            margin-top: rem-calc(8);
        }
    }
}

.page-title {
    span {
        &:hover {
            a {
                text-decoration: none;
            }
            color: darken($color-main-contrast, 10%);
            box-shadow: inset 0 rem-calc(-10) 0 white, inset 0 rem-calc(-13) 0 darken($color-main-contrast, 10%);
            // text-decoration: underline;
        }
    }
}

.page-title.post-title{
    span {
        &:hover {
            a {
                text-decoration: none;
            }
            color: $color-main-dark;
            box-shadow: none;
            // text-decoration: underline;
        }
    }
}

.main-header-content p {
    padding-top: rem-calc(10);
}

.main-header,
.post-view-header {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
    .element-light {
        color: $color-main-light;
    }
    .element-dark,
    &.no-cover {
        color: $color-main-dark;
    }
    h1, h2, h3, h4, h5, h6 {
        color: inherit;
        margin: 0;
    }
    .post-logo-container,
    .author-logo-container {
        padding: rem-calc(15) rem-calc(40);
        img {
            max-width: rem-calc(100);
            max-height: rem-calc(100);
        }
    }
    .author-logo-container {
        img {
            border-radius: 100%;
        }
    }
    a, a:active, a:focus, a:hover {
        color: inherit;
    }
}
.main-header {
    padding: rem-calc(20) rem-calc(30) rem-calc(10) rem-calc(30);
    border-bottom: 1px solid darken($color-main-light, 10%);
    h1 {
        font-size: rem-calc(60);
        line-height: 1.2;
        @media only screen and (min-width: 40.063em) {
            font-size: rem-calc(90);
        }
    }
    .author-stats {
        font-size: rem-calc(20);
        font-family: $headers-font;
        font-weight: 700;
    }
    @media only screen and (min-width: 40.063em) {
        padding: 12% rem-calc(30);
        &.no-cover {
            padding: 10% rem-calc(30);
        }
    }
}

// index page

.home-template,
.tag-template,
.author-template {
    .post {
        padding: rem-calc(40) rem-calc(30);
        text-align: center;
        a {
            &:hover {
                color: darken($color-main-contrast, 10%);
                text-decoration: underline;
            }
        }
        &:first-of-type{
            border-top: solid rem-calc(1) lighten($color-main-contrast, 50%);
        }
        &:last-of-type {
            border-bottom: solid rem-calc(1) lighten($color-main-contrast, 50%);
        }
        // border-bottom: solid rem-calc(1) lighten($color-main-contrast, 50%);
        @media only screen and (min-width: 40.063em) {
            padding: rem-calc(40) rem-calc(30);
        }
    }
    .author-thumb {
        width: rem-calc(30);
        height: rem-calc(30);
        border-radius: 100%;
    }
    .post-header {
        &:before {
            position: relative;
            content: " ";
            display: block;
            min-width: rem-calc(180);
            width: 45%;
            height: rem-calc(1);
            top: rem-calc(-41);
            left: 50%;
            right: auto;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: $color-main-contrast;
        }
    }
    .post-title {
        color: $color-main-dark;
        margin: 0;
        font-size: rem-calc(28);
        line-height: 1.1;
        a {
            color: $color-main-dark;
        }
        @media only screen and (min-width: 40.063em) {
            font-size: rem-calc(42);
            line-height: 1.3;
        }
        &:before {
            position: relative;
            content: " ";
            display: block;
            width: rem-calc(7);
            height: rem-calc(7);
            top: rem-calc(-45);
            left: 50%;
            right: auto;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: $color-main-contrast;
            border-radius: 100%;
        }
    }
    .post-meta {
        font-size: rem-calc(15);
        color: lighten($color-main-dark, 20%);
       a {
            color: $color-main-dark;
        }
    }
}

.post:first-of-type {
    .post-header:before {
        display: none;
    }
    .post-title:before {
        display: none;
    }
}

// post view page

.post-template {
    .post-view-header {
        padding: rem-calc(160) rem-calc(30) rem-calc(120);
        &.no-cover {
            // padding: rem-calc(160) rem-calc(30) rem-calc(80);
            padding: rem-calc(60) rem-calc(30) rem-calc(0) rem-calc(30);

        }
        .post-header-content {
            max-width: $row-width + 12.5;
            margin-left: auto;
            margin-right: auto;
            h1 {
                font-size: $h2-font-size;
                line-height: 1.1;
                 @media only screen and (min-width: 40.063em) {
                    font-size: rem-calc(68);
                }
            }
        }
        @media only screen and (min-width: 40.063em) {
            padding: 15% rem-calc(30);
            &.no-cover {
                padding: 15% rem-calc(30) 5%;
            }
        }
    }
    .post-meta {
        font-family: $headers-font;
        font-weight: 700;
        font-size: rem-calc(18);
        margin-top: rem-calc(15);
        a {
            font-family: $main-font;
            // font-weight: normal;
            // font-size: rem-calc(1);
            // display: inline-block;
            // padding: 0 rem-calc(10);
            color: $color-main-contrast;
            &:hover {
                color: darken($color-main-contrast, 10%);
            }
        }
    }
    .post-title {
        // position: relative;
        margin-bottom: rem-calc(10);
        &:before {
            position: absolute;
            content: " ";
            display: block;
            min-width: rem-calc(180);
            width: 45%;
            height: rem-calc(1);
            bottom: rem-calc(-15);
            left: 50%;
            right: auto;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: $color-main-contrast;
        }
        &:after {
            position: absolute;
            content: " ";
            display: block;
            width: rem-calc(7);
            height: rem-calc(7);
            bottom: rem-calc(-18);
            left: 50%;
            right: auto;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: $color-main-contrast;
            border-radius: 100%;
        }
        &.element-light {
            &:before,
            &:after {
                background-color: $color-main-contrast;
            }
        }
        &.element-dark {
            &:before,
            &:after {
                background-color: $color-main-light;
            }
        }
    }
    .post-view-content {
        margin-top: rem-calc(60);
    }
    .post-footer {
        .post-tags {
            font-family: $headers-font;
            font-weight: 700;
            a {
                font-weight: normal;
            }
        }
        .share {
            border-top: rem-calc(1) solid darken($color-main-light, 10%);
            padding-top: rem-calc(30);
            // padding-bottom: rem-calc(30);
            margin-top: rem-calc(30);
            // margin-bottom: rem-calc(30);
            a {
                color: $color-main-contrast;
                text-decoration: none;
                font-size: rem-calc(28);
                &:hover {
                    color: darken($color-main-contrast, 10%);
                }
            }
        }
    }
    .post-prev-next-pagination {
        padding-bottom: rem-calc(35);
        a {
            color: $color-main-contrast;
            text-decoration: none;
        }
        .prev-next-label {
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}

// author info box in the index page
.index-author-info {
    position: relative;
    padding: rem-calc(40) rem-calc(30);
    margin-bottom: rem-calc(20);
    height: rem-calc(280);
    background: darken($color-main-light, 5%);
    text-align: center;
    vertical-align: middle;
    .author-info-text {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .author-label {
        display: block;
        font-size: rem-calc(16);
        color: lighten($color-main-dark, 50%);
        font-style: italic;
    }
    .author-link-name {
        color: $color-main-dark;
        // -webkit-transition: color .3s;
        // transition: color .3s;
        &:active, &:hover, &:focus {
            color: darken($color-main-contrast, 10%);
        }
    }
    .author-website {
        font-size: rem-calc(16);
    }
    h1 {
        margin: 0;
        padding: 0;
        font-family: $headers-font;
        font-weight: 700;
        font-size: rem-calc(36);
        a {
            &:hover{
                text-decoration: underline;
            }
        }
    }
    > p {
        font-size: rem-calc(18);
        a {
            color: $color-main-contrast;
        }
    }
    .post-author-avatar {
        width: rem-calc(200);
        height: rem-calc(200);
        border-radius: 50%;
        float: none;
        margin-right: 0;
        margin-bottom: rem-calc(20);
        @media only screen and (min-width: 40.063em) {
            margin-right: rem-calc(50);
            margin-bottom: 0;
            float: left;
        }
    }
    a {
        text-decoration: none;
    }
    @media only screen and (min-width: 40.063em) {
        text-align: left;
    }
    @media only screen and (max-width: 40.063em) {
        height: auto;
        .author-info-text {
            position: static;
            top: 0;
            transform: translateY(0);
            p {
                margin-bottom: rem-calc(0);
            }
        }
    }
}

// author info box in post view page
.author-info {
    padding: 0;
    position: relative;
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(40);
    // margin-bottom: rem-calc(40);
    background: darken($color-main-light, 5%);
    .post-author {
        padding-left: rem-calc(30);
        padding-right: rem-calc(30);
        text-align: center;
        .author-label {
            display: block;
            font-size: rem-calc(16);
            color: lighten($color-main-dark, 50%);
            font-style: italic;
        }
        .author-link-name {
            color: $color-main-dark;
            // -webkit-transition: color .3s;
            // transition: color .3s;
            &:active, &:hover, &:focus {
                color: darken($color-main-contrast, 10%);
            }
        }
        .author-website {
            font-size: rem-calc(16);
        }
        h1 {
            margin: 0;
            padding: 0;
            font-family: $headers-font;
            font-weight: 700;
            text-transform: uppercase;
            font-size: rem-calc(36);
        }
        > p {
            font-size: rem-calc(18);
            a {
                color: $color-main-contrast;
            }
        }
        .post-author-avatar {
            width: rem-calc(200);
            height: rem-calc(200);
            border-radius: 50%;
            float: none;
            margin-right: 0;
            margin-bottom: rem-calc(20);
            @media only screen and (min-width: 40.063em) {
                margin-right: rem-calc(50);
                margin-bottom: 0;
                float: left;
            }
        }
        a {
            text-decoration: none;
        }
        @media only screen and (min-width: 40.063em) {
            text-align: left;
        }
    }
}

// tag view post loop styles
.tag-view-info {
    font-size: rem-calc(26);
    text-align: center;
    font-family: $headers-font;
    font-weight: 700;
    background: darken($color-main-light, 10%);
    padding: rem-calc(40) rem-calc(30);
    color: $color-main-dark;
}

// footer

.site-footer {
    position: absolute;
    height: rem-calc(50);
    // bottom: 0;
    right: 0;
    left: 0;
    background: darken($color-main-light, 5%);
    // margin: rem-calc(10) 0;
    padding: rem-calc(10) rem-calc(15);
    color: $color-main-dark;
    a {
        color: $color-main-contrast;
        &:active, &:focus, &:hover {
            color: darken($color-main-contrast, 10%);
        }
    }
    .sub-footer {
        p {
            margin-bottom: 0;
        }
        .sub-footer-left {
            float: left;
        }
        .sub-footer-right {
            float: right;
        }
        .subscribe {
            color: $color-main-dark;
            .fa {
                vertical-align: middle;
                padding-left: rem-calc(5);
                transition: transform 0.3s;
                transform: scale(1);
            }
            &:hover {
                color: darken($color-main-contrast, 10%);
                text-decoration: underline;
                .fa {
                    color: darken(orange, 5%);
                    transition: transform 0.3s;
                    transform: scale(1.25);
                }
            }
        }
    }
}

// pagination
.pagination {
    margin: rem-calc(40) rem-calc(30);
    // margin-bottom: rem-calc(40);
    text-align: center;
    color: $color-main-dark;
    font-weight: bold;
    font-family: $headers-font;
    .older-posts .fa {
        transform: translateX(rem-calc(-5));
        transition: transform .3s;
    }
    .newer-posts .fa {
        transform: translateX(rem-calc(5));
        transition: transform .3s;
    }
    a {
        width: rem-calc(200);
        color: inherit;
        display: inline-block;
        padding: rem-calc(5) rem-calc(30);
        margin: rem-calc(5);
        // border: rem-calc(2) solid $color-main-dark;
        border: rem-calc(2) solid darken($color-main-light, 10%);
        transition: border 0.3s;
        border-radius: rem-calc(3);
        text-decoration: none;
        .fa {
            font-size: rem-calc(12);
        }
    }
    a:hover {
        border-color: darken($color-main-contrast, 10%);

        color: darken($color-main-contrast, 10%);
        text-decoration: underline;
        &.newer-posts {
            .fa {
                color: darken($color-main-contrast, 10%);
                -webkit-transition: -webkit-transform .3s;
                transition: transform .3s;
                -webkit-transform: translateX(rem-calc(10));
                transform: translateX(rem-calc(10));
            }
        }
        &.older-posts {
            .fa {
                color: darken($color-main-contrast, 10%);
                -webkit-transition: -webkit-transform .3s;
                transition: transform .3s;
                -webkit-transform: translateX(rem-calc(-10));
                transform: translateX(rem-calc(-10));
            }
        }
    }
}

.main-nav {
    .fa-bars {
        cursor: pointer;
        margin-right: rem-calc(30);
        margin-top: rem-calc(30);
        font-size: rem-calc(40);
        &.element-dark {
            color: $color-main-dark;
        }
        &.element-light {
            color: $color-main-light;
        }
    }
}

// Disqus settings

.disqus {
    margin-top: rem-calc(20);
    .comments-header {
        font-size: $h3-font-size;
    }
}

.subscribe {
    color: $color-main-dark;
    .fa-rss {
        vertical-align: middle;
        padding-left: rem-calc(5);
        transition: transform 0.3s, color 0.3s;
        transform: scale(1);
    }
    &:hover {
        color: darken($color-main-contrast, 10%);
        text-decoration: underline;
        .fa-rss {
            color: darken(orange, 5%);
            transition: transform 0.3s, color 0.3s;
            transform: scale(1.25);
        }
    }
}